In [1]:
print("OPTIMIZERS")
print("TEAM MEMBERS : YASHAWINI S, SARANYA P")

OPTIMIZERS
TEAM MEMBERS : YASHAWINI S, SARANYA P

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd. read_csv("E:\Genik\\Mov.csv")
df

,MovieName,Actor,Director,Genre,Homepage,Rating,Status
0,Aadukalam,Dhanush,Vetrimaran,Action,Youtube,8.1,Hit
1,Asuran,Dhanush,Vetrimaran,Action,Amazon Prime,8.5,Hit
2,VadaChennai,Dhanush,Vetrimaran,Action,Hotstar,8.5,Hit
3,Visaranai,Dinesh,Vetrimaran,Action,Netflix,8.5,Hit
4,Polladhavan,Dhanush,Vetrimaran,Action,Youtube,5.2,Flop
...,...,...,...,...,...,...,...
94,Iraivi,Vijay Sethupathi,Karthick Subburaj,Drama,Voot,6.1,Flop
95,Sarkar,Vijay,A R Murugadoss,Action,Netflix,5.9,Flop
96,Podaa Podi,Silambarasan,Vignesh Shivan,Romance,Hotstar,5.4,Flop
97,Saravana,Silambarasan,K S Ravikumar,Romance,Youtube,5.0,Flop
98,Aethirree,Madhavan,K S Ravikumar,Drama,Amazon Prime,5.3,Flop

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MovieName  99 non-null     object
 1   Actor      99 non-null     object
 2   Director   99 non-null     object
 3   Genre      99 non-null     object
 4   Homepage   99 non-null     object
 5   Rating     99 non-null     float64
 6   Status     99 non-null     object
dtypes: float64(1), object(6)
memory usage: 5.5+ KB

In [4]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

actor=df['Actor'].unique()

df['Actor'] = le.fit_transform(df['Actor'])
encode_actor=df['Actor'].unique()

print(actor,encode_actor)
df

['Dhanush' 'Dinesh' 'Vikram' 'Rajinikanth' 'Vijay' 'Kamal Hassan '
 'Prabhu Deva' 'Karthi' 'Arya' 'Surya' 'Madhavan' 'Silambarasan'
 'Magesh Babu' 'Jiiva ' 'Ajith Kumar' 'Nayanthara' 'Vijay Sethupathi'
 'Jai' 'Prabhas' 'Vimal' 'Sivakarthikeyan' 'Dulquer Salman' 'Vishal'
 'Atharvaa'] [ 3  4 21 15 19  8 14  9  1 18 10 16 11  7  0 12 20  6 13 22 17  5 23  2]

,MovieName,Actor,Director,Genre,Homepage,Rating,Status
0,Aadukalam,3,Vetrimaran,Action,Youtube,8.1,Hit
1,Asuran,3,Vetrimaran,Action,Amazon Prime,8.5,Hit
2,VadaChennai,3,Vetrimaran,Action,Hotstar,8.5,Hit
3,Visaranai,4,Vetrimaran,Action,Netflix,8.5,Hit
4,Polladhavan,3,Vetrimaran,Action,Youtube,5.2,Flop
...,...,...,...,...,...,...,...
94,Iraivi,20,Karthick Subburaj,Drama,Voot,6.1,Flop
95,Sarkar,19,A R Murugadoss,Action,Netflix,5.9,Flop
96,Podaa Podi,16,Vignesh Shivan,Romance,Hotstar,5.4,Flop
97,Saravana,16,K S Ravikumar,Romance,Youtube,5.0,Flop
98,Aethirree,10,K S Ravikumar,Drama,Amazon Prime,5.3,Flop

In [5]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

director=df['Director'].unique()

df['Director'] = le.fit_transform(df['Director'])
encode_director=df['Director'].unique()

print(director,encode_director)
df

['Vetrimaran' 'Shankar S' 'Prabhu Deva' 'A L Vijay' 'Atlee Kumar'
 'R T Neason' 'Chimbu Devan' 'SP Raj Kumar' 'Rajath Ravishankar'
 'Jeethu Joseph' 'Goutham Menon' 'Krishna' 'Sudha Kongara Prasad'
 'Pushkar, Gayatri' 'Mani Ratnam' 'Adhik Ravichandran' 'Suseenthiran'
 'N Lingusamy' 'Bakkiyaraj Kannan' 'A R Murugadoss' 'Hari' 'R Kannan'
 'Kaleesh' 'Mysskin' 'Vishnuvardhan' 'Magzhthirumeni'
 'Sakthi Soundharajan' 'K S Ravikumar' 'Surjun KM' 'Nelson Dilipkumar'
 'S Kalyan' 'Nalan Kumarasamy' 'Balaji Tharaneetharan' 'Karthick Subburaj'
 'Venkat Prabhu' 'Balakrishnan' 'Arunkumar' "Remo D'Souza" 'SS Rajamouli'
 'Sujith' 'AR Mukesh' 'RS Durai Senthilkumar' 'Kris Thirukumaran' 'Ezhil'
 'Ponram' 'R Velraj' 'Prabhu Solomon' 'H Vinoth' 'Soundarya Rajinikanth'
 'Selvaraghavan' 'Prakash Kovelamudi' 'Gokul' 'Vignesh Shivan'] [50 43 28  0  5 33  9 39 36 15 12 20 45 31 22  3 48 24  6  1 14 32 17 23
 52 21 41 16 47 26 38 25  7 18 49  8  4 37 40 46  2 35 19 10 27 34 29 13
 44 42 30 11 51]

      MovieName  Actor  Director    Genre      Homepage  Rating Status
0     Aadukalam      3        50   Action       Youtube     8.1    Hit
1        Asuran      3        50   Action  Amazon Prime     8.5    Hit
2   VadaChennai      3        50   Action       Hotstar     8.5    Hit
3     Visaranai      4        50   Action       Netflix     8.5    Hit
4   Polladhavan      3        50   Action       Youtube     5.2   Flop
..          ...    ...       ...      ...           ...     ...    ...
94       Iraivi     20        18    Drama          Voot     6.1   Flop
95       Sarkar     19         1   Action       Netflix     5.9   Flop
96   Podaa Podi     16        51  Romance       Hotstar     5.4   Flop
97     Saravana     16        16  Romance       Youtube     5.0   Flop
98    Aethirree     10        16    Drama  Amazon Prime     5.3   Flop

[99 rows x 7 columns]

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

genre=df['Genre'].unique()

df['Genre'] = le.fit_transform(df['Genre'])
encode_genre=df['Genre'].unique()

print(genre,encode_genre)
df

['Action' 'Thriller' 'Comedy' 'Crime' 'Horror' 'Fantasy' 'Romance' 'Drama'] [0 7 1 2 5 4 6 3]

      MovieName  Actor  Director  Genre      Homepage  Rating Status
0     Aadukalam      3        50      0       Youtube     8.1    Hit
1        Asuran      3        50      0  Amazon Prime     8.5    Hit
2   VadaChennai      3        50      0       Hotstar     8.5    Hit
3     Visaranai      4        50      0       Netflix     8.5    Hit
4   Polladhavan      3        50      0       Youtube     5.2   Flop
..          ...    ...       ...    ...           ...     ...    ...
94       Iraivi     20        18      3          Voot     6.1   Flop
95       Sarkar     19         1      0       Netflix     5.9   Flop
96   Podaa Podi     16        51      6       Hotstar     5.4   Flop
97     Saravana     16        16      6       Youtube     5.0   Flop
98    Aethirree     10        16      3  Amazon Prime     5.3   Flop

[99 rows x 7 columns]

In [7]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

homepage=df['Homepage'].unique()

df['Homepage'] = le.fit_transform(df['Homepage'])
encode_homepage=df['Homepage'].unique()

print(homepage,encode_homepage)
df

['Youtube' 'Amazon Prime' 'Hotstar' 'Netflix' 'Voot'] [4 0 1 2 3]

      MovieName  Actor  Director  Genre  Homepage  Rating Status
0     Aadukalam      3        50      0         4     8.1    Hit
1        Asuran      3        50      0         0     8.5    Hit
2   VadaChennai      3        50      0         1     8.5    Hit
3     Visaranai      4        50      0         2     8.5    Hit
4   Polladhavan      3        50      0         4     5.2   Flop
..          ...    ...       ...    ...       ...     ...    ...
94       Iraivi     20        18      3         3     6.1   Flop
95       Sarkar     19         1      0         2     5.9   Flop
96   Podaa Podi     16        51      6         1     5.4   Flop
97     Saravana     16        16      6         4     5.0   Flop
98    Aethirree     10        16      3         0     5.3   Flop

[99 rows x 7 columns]

In [8]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

status=df['Status'].unique()

df['Status'] = le.fit_transform(df['Status'])
encode_status=df['Status'].unique()

print(status,encode_status)
df

['Hit' 'Flop'] [1 0]

      MovieName  Actor  Director  Genre  Homepage  Rating  Status
0     Aadukalam      3        50      0         4     8.1       1
1        Asuran      3        50      0         0     8.5       1
2   VadaChennai      3        50      0         1     8.5       1
3     Visaranai      4        50      0         2     8.5       1
4   Polladhavan      3        50      0         4     5.2       0
..          ...    ...       ...    ...       ...     ...     ...
94       Iraivi     20        18      3         3     6.1       0
95       Sarkar     19         1      0         2     5.9       0
96   Podaa Podi     16        51      6         1     5.4       0
97     Saravana     16        16      6         4     5.0       0
98    Aethirree     10        16      3         0     5.3       0

[99 rows x 7 columns]

In [9]:
df=df.drop(['MovieName'],axis=1)

In [10]:
df

    Actor  Director  Genre  Homepage  Rating  Status
0       3        50      0         4     8.1       1
1       3        50      0         0     8.5       1
2       3        50      0         1     8.5       1
3       4        50      0         2     8.5       1
4       3        50      0         4     5.2       0
..    ...       ...    ...       ...     ...     ...
94     20        18      3         3     6.1       0
95     19         1      0         2     5.9       0
96     16        51      6         1     5.4       0
97     16        16      6         4     5.0       0
98     10        16      3         0     5.3       0

[99 rows x 6 columns]

In [11]:
x=df.drop('Status',axis=1)
y=df['Status']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [12]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)

GaussianNB()

In [13]:
y_pred=model.predict(x_test)
df1=pd.DataFrame({'Actual Status': y_test,'Predcited Status':y_pred})
df1.head(15)

    Actual Status  Predcited Status
92              0                 0
83              1                 1
32              0                 0
80              0                 0
78              1                 1
17              0                 0
35              0                 0
81              0                 0
88              0                 0
91              1                 1
45              1                 1
33              1                 0
54              1                 1
77              1                 0
62              0                 0

In [14]:
print(accuracy_score(y_test,y_pred)*100)

90.0

In [15]:
def dic_creator(test_keys,test_values): 
     res = {}
     test_keys=list(test_keys)
     test_values=list(test_values)
     for key in test_keys:
         for value in test_values:
             res[key] = value
             test_values.remove(value)
             break 
     return res

In [16]:
dic_actor=dic_creator(actor,encode_actor)
dic_actor

{'Dhanush': 3,
 'Dinesh': 4,
 'Vikram': 21,
 'Rajinikanth': 15,
 'Vijay': 19,
 'Kamal Hassan ': 8,
 'Prabhu Deva': 14,
 'Karthi': 9,
 'Arya': 1,
 'Surya': 18,
 'Madhavan': 10,
 'Silambarasan': 16,
 'Magesh Babu': 11,
 'Jiiva ': 7,
 'Ajith Kumar': 0,
 'Nayanthara': 12,
 'Vijay Sethupathi': 20,
 'Jai': 6,
 'Prabhas': 13,
 'Vimal': 22,
 'Sivakarthikeyan': 17,
 'Dulquer Salman': 5,
 'Vishal': 23,
 'Atharvaa': 2}

In [17]:
dic_director=dic_creator(director,encode_director)
dic_director

{'Vetrimaran': 50,
 'Shankar S': 43,
 'Prabhu Deva': 28,
 'A L Vijay': 0,
 'Atlee Kumar': 5,
 'R T Neason': 33,
 'Chimbu Devan': 9,
 'SP Raj Kumar': 39,
 'Rajath Ravishankar': 36,
 'Jeethu Joseph': 15,
 'Goutham Menon': 12,
 'Krishna': 20,
 'Sudha Kongara Prasad': 45,
 'Pushkar, Gayatri': 31,
 'Mani Ratnam': 22,
 'Adhik Ravichandran': 3,
 'Suseenthiran': 48,
 'N Lingusamy': 24,
 'Bakkiyaraj Kannan': 6,
 'A R Murugadoss': 1,
 'Hari': 14,
 'R Kannan': 32,
 'Kaleesh': 17,
 'Mysskin': 23,
 'Vishnuvardhan': 52,
 'Magzhthirumeni': 21,
 'Sakthi Soundharajan': 41,
 'K S Ravikumar': 16,
 'Surjun KM': 47,
 'Nelson Dilipkumar': 26,
 'S Kalyan': 38,
 'Nalan Kumarasamy': 25,
 'Balaji Tharaneetharan': 7,
 'Karthick Subburaj': 18,
 'Venkat Prabhu': 49,
 'Balakrishnan': 8,
 'Arunkumar': 4,
 "Remo D'Souza": 37,
 'SS Rajamouli': 40,
 'Sujith': 46,
 'AR Mukesh': 2,
 'RS Durai Senthilkumar': 35,
 'Kris Thirukumaran': 19,
 'Ezhil': 10,
 'Ponram': 27,
 'R Velraj': 34,
 'Prabhu Solomon': 29,
 'H Vinoth': 13,
 'Soundarya Rajinikanth': 44,
 'Selvaraghavan': 42,
 'Prakash Kovelamudi': 30,
 'Gokul': 11,
 'Vignesh Shivan': 51}

In [18]:
dic_genre=dic_creator(genre,encode_genre)
dic_genre

{'Action': 0,
 'Thriller': 7,
 'Comedy': 1,
 'Crime': 2,
 'Horror': 5,
 'Fantasy': 4,
 'Romance': 6,
 'Drama': 3}

In [19]:
dic_homepage=dic_creator(homepage,encode_homepage)
dic_homepage

{'Youtube': 4, 'Amazon Prime': 0, 'Hotstar': 1, 'Netflix': 2, 'Voot': 3}

In [20]:
dic_status=dic_creator(status,encode_status)
dic_status

{'Hit': 1, 'Flop': 0}

In [21]:
def get_status(val):
     for key, value in dic_status.items():
         if val == value:
             return key

In [22]:
def prediction(Actor,Director,Genre,Homepage,Rating):
     a=dic_actor[str(Actor)]
     d=dic_director[Director]
     g=dic_genre[Genre]
     h=dic_homepage[Homepage]
     r=Rating

     ypred=model.predict([[a,d,g,h,r]])
     predi=get_status(ypred)
     return predi

In [23]:
prediction("Surya","N Lingusamy","Fantasy","Youtube",6.1)

'Flop'

In [24]:
prediction("Surya","Vignesh Shivan","Crime","Youtube",8.1)

'Hit'

In [25]:
prediction("Dhanush","A R Murugadoss","Thriller","Netflix",7.1)

'Hit'

In [26]:
prediction("Silambarasan","Hari","Crime","Hotstar",6.5)

'Flop'